*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body {
    overflow: hidden;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#b285ff, #00d4ff);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 18px 8%;
    transition: bg 1s;
}

nav .logo{
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: 600;
}

@keyframes bg{
    0% {
        background-color:#FFF
    }
    100% {
        background-color: #191919;
    }
}

nav .logo img{
    width: 40px;
    margin-right: 10px;
    
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    
}

nav ul li a{
    text-decoration: none;
    color: #FFF;
    font-weight: 800;
}
nav:hover{
    background: #fff;
}

nav:hover .logo{
    color: #333;
}

nav:hover ul li a{
    color: #333;
}

.content{
    margin-top: 9%;
    margin-left: 9%;
    color: #FFF;


}

.content h1{
    font-weight: 600;
    line-height: 140px;
}

.content p{
    max-width: 500px;
    line-height: 28px;
    opacity: 0;
}

.links{
    margin-top: 30px;
    opacity: 0;
}
.links a{
    color: #FFF;
    display: inline-block;
    text-decoration: none;

}
    .links a:hover{
    color: blue;

}

.btn{
    border: 1px solid #3489db;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Montserrat';
    cursor: pointer;
    margin: 10px;
    background-color: #75B9AF;
    color: #3498db;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.btn:hover{
    color: #fff;
}

.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #3498db;
    z-index: -1;
    transition: 0.8s;
    top: 0;
    border-radius: 5%;
}

.btn:hover::before{
    height: 180%;
}

.slide-left{
    animation: slideleft 1s linear forwards;
    
}

.content h1{
    font-family: 'Montserrat';
}

@keyframes slideleft{
    0%{
        transform: translate(100px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
    
}

p.slide-left{
    animation-delay: 1s;
}
.links.slide-left{
    animation-delay: 2s;
    color:blue;
}
.output{
    color:white;
    font-family:"arial";
    font-weight: bold;
    background-image: url("C:/Users/vidhy/Downloads/Black & Beige Minimalist Wavy Lines Pattern Desktop Wallpaper.png");
    opacity: 0;
    }
.output1{
    margin-top:20px;
    opacity: 0;
   color:white;
    display: inline-block;
   font-family:"arial";
   font-weight: bold;
   }

.ishexp {
    text-align: center;
    letter-spacing: 1px;
}

.ishemexp{
    text-align: center;
    color: black;
    position: relative;
    bottom: 400px;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.ishemtext {
    color: black;
    position: relative;
    bottom: 370px;
    padding: 10px;
    text-align: center;
    margin: 0;
    font-size: 25px;
    font-family: 'Montserrat';
}

.emotion {
    font-size: 5em;
}

 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@600&display=swap');

.textcontainer {
    font-size: 60px;
    text-align: center;
}

.text_1 {
  animation: text1;
}

.text_2 {
  animation: text2;
}

.text_1, .text_2 {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  top: 30px;
  font-family: 'Montserrat';
  animation-duration: 7s;
  animation-timing-function: steps(25, end);
  animation-iteration-count: infinite;
}

.text_1::after, .text_2::after {
  content: "|";
  position: absolute;
  right: 0;
  animation: caret infinite;
  animation-duration: 1s;
  animation-timing-function: steps(1, end);
}

@keyframes text2 {
  0%, 50%, 100% {
    width: 0;
  }

  60%, 90% {
    width: 11.5em;
  }
}

@keyframes text1 {
  0%, 50%, 100% {
    width: 0;
  }
  10%, 40% {
    width: 16em;
  }
}

@keyframes caret {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.container {
    position: relative;
    text-align: center;
    height: 500px;
    width: 1000px;
    left: 15%;
    top: 100px;
}
