<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISH-EM</title>
    <link rel="stylesheet" href="/static/button_style.css">
</head>
<body>
    <div class="header">
        <nav>
            <div class="logo">
                <img src="./static/img2.png" alt="">
                <span></span>
            </div>
            <ul>
                <!-- <li><a href="#">home</a></li> -->
                <!-- <li><a href="#">features</a></li> -->
                <!-- <li><a href="mailto:ishu.defender@gmail.com">contact</a></li>
                <li><a href="mailto:ishu.defender@gmail.com">support</a></li> -->
            </ul>
        </nav>

        <div class="content">
            <!-- <h1 class="slide-left">Our <br> Website</h1>
            <p class="slide-left">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            <div class="links slide-left"> -->
                <div class="output" >
                    {% if final_output %}
                    <h2 class="quote" id="myQuote"></h2>
                    <h2 class="finaloutput" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: bisque;margin:40px;font:40px">You seem to be {{final_output}}</h2>
                    <h2 class="finaloutput" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: bisque;margin:40px;font:40px">What would you prefer?</h2>
                    {% endif %}
                </div>
                <a href="http://localhost:5000/movies/{{final_output}}" class="btn">Movies</a>
                <a href="http://localhost:5000/songs/{{final_output}}" class="btn">Songs</a>
            </div>
        </div>
    </div>

    <script>
        if (final_output == 'neutral') {           
            document.getElementbyId("myQuote").innerHTML = "Your only limit is yourself.";
        }
        else if (final_output == 'happy') {
            document.getElementById("myQuote").innerHTML = "Whoever is happy will make others happy.";
        }
        else if (final_output == 'sad') {
            document.getElementById("myQuote").innerHTML = "The good times of today are the sad thoughts of tomorrow.";
        }
    </script>
</body>
</html>