<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FEATURES | ISH-EM</title>
    <link rel="stylesheet" href="/static/features_style.css"></link>
</head>
<body>
    <div class="header">
        <nav>
            <div class="logo">
                <img src="static/img2.png" alt="">
                <span>ISH-EM</span>
            </div>
            <ul>
                <li><a href="http://127.0.0.1:5000/">MAIN PAGE</a></li>
            </ul>
        </nav>  
    </div> 




    <div class="listcontainer">
        <ul class="list">
            <span class="featureslist">ISH-EM's main features are:</span>
            <li class="listitems">ISH-EM stands for "Interactive Sentiment-based Harmony and Entertainment Module."</li>
            <li class="listitems">ISH-EM can flawlessly detect your face and multiple other faces at once.</li>
            <li class="listitems">Accurate emotion detection through the TensorFlow library in Python.</li>
            <li class="listitems">ISH-EM boasts a wide list of movies and songs that depend upon your emotion.</li>
        </ul>
    </div>
</body>
</html>