<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISH-EM</title>
    <link rel="stylesheet" href="/static/style1.css"></link>
</head>
<body>
    <div class="header">
        <nav>
            <div class="logo">
                <img src="static/img2.png" alt="">
                <span>ISH-EM</span>
            </div>
            <ul>
                <li><a href="features.html">FEATURES</a></li>
            </ul>
        </nav>

        <div class="containerpart2">
            <h1 class="textcontainer"><span class="text_1">Your Emotions Are Important.</span><span class="text_2">Try out ISH-EM Today.<span></h1>
        </div>
           <div class="links slide-left container">
                <a href="http://localhost:5000/camera" class="btn">Let's Start</a>
            </div>
        </div>
    </br>
    <br><br><br>
    <div class="ishexp">
        <h1 class="ishemexp">What is ISH-EM?</h1>
        <span class="ishemtext">Meet ISH-EM, the Interactive Sentiment-based Harmony and Entertainment Module, your personal emotion-savvy AI companion. With its advanced facial recognition technology, ISH-EM detects the nuances of your emotions as you gaze into the camera, creating a seamless bridge between technology and human sentiment. </span>
    </div>
        <div class="output" >
            {% if final_output %}
        <h2 style="font-family:Bio-Rhyme">Your mood seems to be {{final_output}}</h2>
            <div class="output1" >
            <a href="http://localhost:5000/movies/{{final_output}}" class="btn">Movies</a>
            <a href="http://localhost:5000/songs/{{final_output}}" class="btn">Songs</a>
                </div>
        {% endif %}
        </div>
    </div>
</body>
</html>